* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    color: #000;
    font-size: 2rem;
    padding:  3vh 5vh;
}

.carousel {
    display: grid;
    grid-template-columns: 26.8vw 21vw 3vw 3vw 3vw 3vw 3.1vw 26.8vw;
    // grid-template-rows: minmax(65vw 40vw) 1fr;
    row-gap: 1rem;

    input {
        display: none;
    }

    .dot {
        width: 3vw;
        height: 5vh;
        background-image: url(./assets/choose_ellipse\ .svg);
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 2.2vw;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .dot:hover{
        filter:brightness(0) saturate(100%) invert(63%) sepia(96%) saturate(4645%) hue-rotate(5deg) brightness(103%) contrast(91%);
      
        border-radius: 50%;
        box-shadow: (3px 3px 4px 1px);
    }
    .dot:active{
        // background-color: #156b39;
        filter: brightness(0) saturate(100%)invert(34%) sepia(18%) saturate(1824%) hue-rotate(92deg) brightness(90%) contrast(91%);
        border-radius: 50%;
        // box-shadow: (3px 4px 3px 2px);
        border: solid black;
        
    }

    #slide-1:checked~ .slide-1 {
        background-image: url(./assets/ellipse_checked.svg);
    }
    #slide-2:checked~ .slide-2 {
        background-image: url(./assets/ellipse_checked.svg);
    }
    #slide-3:checked~ .slide-3 {
        background-image: url(./assets/ellipse_checked.svg);
    }
    #slide-4:checked~ .slide-4 {
        background-image: url(./assets/ellipse_checked.svg);
    }
    #slide-5:checked~ .slide-5 {
        background-image: url(./assets/ellipse_checked.svg);
    }



    #slide-2:checked~.body-slider .wrapper {
        transform: translateX(-90vw);
    }
    #slide-3:checked~.body-slider .wrapper {
        transform: translateX(-180vw);
    }
    #slide-4:checked~.body-slider .wrapper {
        transform: translateX(-270vw);
    }
    #slide-5:checked~.body-slider .wrapper {
        transform: translateX(-360vw);
    }
    

    .slide-1,
    #slide-1 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
    }

    // #slide-1:checked~.slide-1 {

    // }
   
    

    .slide-2,  #slide-2 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
    }

    .slide-3, #slide-3{
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
    }

    .slide-4, #slide-4 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
    }

    .slide-5, #slide-5 {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
    }

    .text {
        display: grid;
        grid-template-columns: 1fr;
        transition: all 0.5s ease;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-template-areas: "text";

        p {
            grid-area: text;
            transform: translateX(-200vh);
            transition: all 0.5s ease;
        }
        
    }

    #slide-1:checked~.text .text-1 {
        transform: translateX(0vw);
        transition: all 0.5s ease;
        order: -1;
    }

    #slide-2:checked~.text .text-2 {
        transform: translateX(0vw);
        transition: all 0.5s ease;
    }
    #slide-3:checked~.text .text-3 {
        transform: translateX(0vw);
        transition: all 0.5s ease;
    }
    #slide-4:checked~.text .text-4 {
        transform: translateX(0vw);
        transition: all 0.5s ease;
    }

    #slide-5:checked~.text .text-5 {
        transform: translateX(0vw);
        transition: all 0.5s ease;
    }


}



.body-slider {
    width: 90vw;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;

    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 90vw);
       
        .pictures {
            display: flex;
            width: 100%;
            justify-content: center;


            img {
                width: 40%;
                height: auto;
            }
        }
    }
}

@import "./adaptiv.scss"